.user-container {
  margin: 20px;
}
  
.welcome-message {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  width: 50%;
}

.form-group label{
  padding-top: 8px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  
}


